{% load static %}

<header>
    <nav class='hidden md:flex justify-between items-center max-w-6xl mx-auto px-6 h-16 font-semibold text-base bg-gray-500'>
        <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Tailwind's Logo">
        <div class="flex gap-x-4 lg:gap-x-12 bg-slate-50">
            <a href="" class='bg-green-500'>Lien volontairement bien plus long</a>
            <a href="" class='bg-red-500'>Lien 2</a>
            <a href="" class='bg-blue-500'>Lien 3</a>
        </div>
        <a href="" class='bg-purple-500'>Login &#8594;</a>
    </nav>
    <!-- Hamburger -->
    <div class="md:hidden flex justify-end mx-auto p-6 bg-slate-300">
        <div id="hamburger" class="w-6 space-y-1 z-30">
            <div class="h-1 bg-black"></div>
            <div class="h-1 bg-black"></div>
            <div class="h-1 bg-black"></div>
        </div>
    </div>
    <!-- Menu -->
    <div id="menu" class='hidden flex flex-col absolute top-0 w-full text-center z-20 gap-4 py-5 bg-pink-500'>
        <a href=''>Ceci est un lien plus long</a>
        <a href=''>Lien 2</a>
        <a href=''>Lien 3</a>
        <a href=''>Login &#8594;</a>
    </div>

</header>