{% load static %}

<header>
    <nav class='flex justify-between items-center max-w-6xl mx-auto px-6 h-16 font-semibold text-base bg-gray-500'>
        <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Tailwind's Logo">
        <div class="flex gap-x-12 bg-slate-50">
            <a href="" class='bg-green-500'>Lien 1</a>
            <a href="" class='bg-red-500'>Lien 2</a>
            <a href="" class='bg-blue-500'>Lien 3</a>
        </div>
        <a href="" class='bg-purple-500'>Login &#8594;</a>
    </nav>
</header>